body {

	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #777;

	overflow: hidden;

}

header {


	background-color: #ebebeb;

	padding: 20px;

	text-align: center;

	margin-bottom: 20px;




}

header p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;



}

nav {


	background-color: #ebebeb;

	padding: 20px;

	text-align: center;

	margin-bottom: 20px;


}

nav p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;


}

section {

	float: left;

	background-color: #ebebeb;

	padding: 20px;

	text-align: center;

	margin-bottom: 20px;

	width: 495px;



}

section p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;


}

article {

	background-color: #777;

	padding: 20px;





}

article p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #ebebeb;


}

article h3 {

	background-color: #ebebeb;
	color: #777;
	padding: 20px;


}

#p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;

	background-color: #ebebeb;
	padding: 20px;


}


aside {



	background-color: #ebebeb;

	padding: 20px;

	text-align: center;

	margin-bottom: 20px;

	float: right;

	width: 350px;

	height: 314px;

}

aside p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;


}


footer {

	clear: both;

	overflow: auto;

	background-color: #ebebeb;

	padding: 20px;

	text-align: center;

	margin-bottom: 20px;


}

footer p {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;

}